<nav style="padding: 2vh; margin: 2vh;">
  {{#if session.isAuthenticated}}
    {{#link-to "index"}}
      Index
    {{/link-to}}
    {{#link-to "list"}}
      Users List
    {{/link-to}}
    <button {{action "logout"}}>Logout</button>
  {{else}}
    {{#link-to "login"}}
      Login
    {{/link-to}}
    {{#link-to "signup"}}
      Sign up
    {{/link-to}}
  {{/if}}
</nav>

{{#if session.isAuthenticated}}
<h2>User</h2>
{{sessionAccount.currentUser.full_name}}
<br>
{{sessionAccount.currentUser.email}}
<br>
{{user-table title="Friends" users=sessionAccount.currentUser.friends actionSubject='remove'}}
<br>
{{/if}}
{{outlet}}
